<div class="max-w-md p-8 mx-auto mt-5 bg-yellow-400">
  <h2 class="mb-6 text-2xl font-semibold">Crear Cliente</h2>

  <div>
    <form (ngSubmit)="guardarCliente()">
      <div class="mb-4">
        <label for="nombre" class="block mb-2 font-medium">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="w-full p-2 border border-gray-300 rounded"
          [(ngModel)]="nombre">
      </div>

      <div class="mb-4">
        <label for="apellido" class="block mb-2 font-medium">Email:</label>
        <input type="text" name="email" id="apellido" class="w-full p-2 border border-gray-300 rounded"
          [(ngModel)]="email">
      </div>

      <div class="mb-4">
        <label for="email" class="block mb-2 font-medium">Contraseña:</label>
        <input type="email" name="password" id="email" class="w-full p-2 border border-gray-300 rounded"
          [(ngModel)]="password">
      </div>

      <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Guardar</button>
    </form>
  </div>

</div>